<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <h3>Artists by concert id.</h3>
    <table border="1" cellpadding="10" cellspacing="0">
      <tr>
        <th><strong>Artist ID</strong></th>
        <th><strong>Artist Name</strong></th>
        <th><strong>Concert Name</strong></th>
      </tr>
      {% for item in response %}
      <tr>
        <td>{{ item[0] }}</td>
        <td>{{ item[1] }} {{ item[2] }}</td>
        <td>{{ item[3] }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>