<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h3>Voici les nouveaux Paris Bercy ! La liste non exhaustive 👇</h3>
    <table border="1" cellpadding="10" cellspacing="0">
          <tr>
              <th><strong>Lieu</strong></th>
              <th><strong>Capacité</strong></th>
            </tr>
          {% for item in response %}
          <tr>
              <td>{{ item[0] }}</td>
              <td>{{ item[1] }}</td>
          </tr>
          {% endfor %}
        </table>
</body>
</html>